#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid white;
  border-radius: 6px;
}

img{
    width: 100%;
    object-fit: cover;
}

.header{
    width: 100%;
    background-color: grey;
}

.para{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 1rem;
}